body {
    background-color: blue;
    /* margin: 0; */
    display: flex;
    justify-content: center;
}


#board {
    display: flex;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px; */
    flex-wrap: wrap;
    width: 80vh;
}

.cell {
    width: 20vh;
    height: 20vh;
    border: 2px solid black;

}