/* * {
    box-sizing: border-box;
} */

body {
    background-color: blue;
    /* margin: 0; */
    display: flex;
    justify-content: center;
}

/* .messagesection {
    height: 50px;
    //width: 50px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
 } */

#board {
    display: flex;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px; */
    flex-wrap: wrap;
    width: 80vh;
}

.cell {
    width: 20vh;
    height: 20vh;
    border: 2px solid black;
}